* {
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

:root {
  --main-background: #3a4764;
  --text: #fff;
  --toggle-and-keypad-bg: #232c43;
  //screen
  --screen-bg: #182034;
  //toggle and equal color
  --keypad-and-toggle-bg: #d03f2f;
  --keypad-and-toggle-hover-bg: #f96b5b;
  //equal keypad color
  --equal: #fff;
  --equal-bg-shdow: #93261a;
  //reset and del kaypad color
  --del-reset-keypad-bg: #637097;
  --del-reset-keypad-hover-bg: #a2b2e1;
  --del-reset-keypadbg-shadow: #404e72;
  //general keypads color
  --keypad-text: #444b5a;
  --keypad-bg: #eae3dc;
  --keypad-hover-bg: #fffffe;
  --keypad-bg-shadow: #b3a497;
}

.theme2 {
}
.theme3 {
}

body {
  background: var(--main-background);
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  color: var(--text);
  display: grid;
  place-items: center;
}

main {
  max-width: 540px;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    .title {
      font-size: 32px;
      font-weight: bold;
      letter-spacing: -0.533333px;
      color: var(--text);
    }

    .theme {
      display: flex;
      align-items: center;

      &__text {
        font-size: 12px;
        font-weight: bold;
        line-height: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--text);
        margin-right: 21px;
      }

      &__numbers {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5px;

        span {
          font-size: 12px;
          font-weight: bold;
          color: var(--text);
          line-height: 13px;
        }
      }

      &__switcher__dot {
        position: relative;
        background-color: var(--toggle-and-keypad-bg);
        width: 71px;
        height: 26px;
        border-radius: 13px;

        .dot {
          height: 16px;
          width: 16px;
          background: var(--keypad-and-toggle-bg);
          border-radius: 50%;
          position: absolute;
          top: 5px;
          left: 5px;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background: var(--keypad-and-toggle-hover-bg);
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .display {
    background: var(--screen-bg);
    max-width: 540px;
    height: 128px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 38px 32px 36px 32px;
    margin-bottom: 24px;

    &__calculation {
      font-size: 48px;
      line-height: 54px;
      letter-spacing: -0.08px;
      color: var(--text);
    }
  }

  .keyboard {
    background: var(--toggle-and-keypad-bg);
    padding: 32px 31px;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(5, 64px) / repeat(4, 101px);
    grid-gap: 24px 25px;
    grid-template-areas:
      '__7 __8 __9 __del'
      '__4 __5 __6 __plus'
      '__1 __2 __3 __minus'
      '__dot __0 __divide __time'
      '__reset __reset __equal __equal';

    &__7 {
      grid-area: __7;
    }
    &__8 {
      grid-area: __8;
    }
    &__9 {
      grid-area: __9;
    }
    &__del {
      grid-area: __del;
    }
    &__4 {
      grid-area: __4;
    }
    &__5 {
      grid-area: __5;
    }
    &__6 {
      grid-area: __6;
    }
    &__plus {
      grid-area: __plus;
    }
    &__1 {
      grid-area: __1;
    }
    &__2 {
      grid-area: __2;
    }
    &__3 {
      grid-area: __3;
    }
    &__minus {
      grid-area: __minus;
    }
    &__dot {
      grid-area: __dot;
    }
    &__0 {
      grid-area: __0;
    }
    &__divide {
      grid-area: __divide;
    }
    &__time {
      grid-area: __time;
    }
    &__reset {
      grid-area: __reset;
    }
    &__equal {
      grid-area: __equal;
    }

    &__keypad {
      border-radius: 10px;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: -0.533333px;
      color: var(--keypad-text);
      background: var(--keypad-bg);
      box-shadow: inset 0px -4px 0px var(--keypad-bg-shadow);
      border: none;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background: var(--keypad-hover-bg);
      }
    }

    &__del,
    &__reset {
      font-size: 20px;
      line-height: 22px;
      letter-spacing: -0.333333px;
      color: #fff;
      background: var(--del-reset-keypad-bg);
      box-shadow: inset 0px -4px 0px var(--del-reset-keypadbg-shadow);
      text-transform: uppercase;
      &:hover {
        background: var(--del-reset-keypad-hover-bg);
      }
    }

    &__equal {
      font-size: 20px;
      line-height: 22px;
      letter-spacing: -0.333333px;
      color: var(--equal);
      background: var(--keypad-and-toggle-bg);
      box-shadow: inset 0px -4px 0px var(--equal-bg-shdow);
      &:hover {
        background: var(--keypad-and-toggle-hover-bg);
        color: var(--equal);
      }
    }
  }
}
