* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

.theme1 {
  --main-background: #3a4764;
  --text: #fff;
  --toggle-and-keypad-bg: #232c43;
  --screen-bg: #182034;
  --keypad-and-toggle-bg: #d03f2f;
  --keypad-and-toggle-hover-bg: #f96b5b;
  --equal: #fff;
  --equal-bg-shdow: #93261a;
  --del-reset-keypad-bg: #637097;
  --del-reset-keypad-hover-bg: #a2b2e1;
  --del-reset-keypadbg-shadow: #404e72;
  --keypad-text: #434a59;
  --keypad-bg: #eae3dc;
  --keypad-hover-bg: #fffffe;
  --keypad-bg-shadow: #b3a497;
}

.theme1 .dot {
  height: 16px;
  width: 16px;
  background: var(--keypad-and-toggle-bg);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.theme1 .dot:hover {
  background: var(--keypad-and-toggle-hover-bg);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.theme2 {
  --main-background: #e6e6e6;
  --text: #36362c;
  --toggle-and-keypad-bg: #d2cdcd;
  --screen-bg: #eeeeee;
  --keypad-and-toggle-bg: #c85402;
  --keypad-and-toggle-hover-bg: #ff8a38;
  --equal: #fff;
  --equal-bg-shdow: #873901;
  --del-reset-keypad-bg: #378187;
  --del-reset-keypad-hover-bg: #62b5bc;
  --del-reset-keypadbg-shadow: #1b6066;
  --keypad-text: #36362c;
  --keypad-bg: #e5e4e1;
  --keypad-hover-bg: #fff;
  --keypad-bg-shadow: #a79e91;
}

.theme2 .dot {
  height: 16px;
  width: 16px;
  background: var(--keypad-and-toggle-bg);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 25.66px;
}

.theme2 .dot:hover {
  background: var(--keypad-and-toggle-hover-bg);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.theme3 {
  --main-background: #17062a;
  --text: #ffe53d;
  --toggle-and-keypad-bg: #1e0936;
  --screen-bg: #1e0936;
  --keypad-and-toggle-bg: #00ded0;
  --keypad-and-toggle-hover-bg: #93fff8;
  --equal: #1a2327;
  --equal-bg-shdow: #6cf9f1;
  --del-reset-keypad-bg: #56077c;
  --del-reset-keypad-hover-bg: #8631af;
  --del-reset-keypadbg-shadow: #be15f4;
  --keypad-text: #ffe53d;
  --keypad-bg: #331c4d;
  --keypad-hover-bg: #6c34ac;
  --keypad-bg-shadow: #6c34ac;
}

.theme3 .dot {
  height: 16px;
  width: 16px;
  background: var(--keypad-and-toggle-bg);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 51.32px;
}

.theme3 .dot:hover {
  background: var(--keypad-and-toggle-hover-bg);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body {
  position: relative;
  background: var(--main-background);
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  color: var(--text);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main {
  max-width: 540px;
}

main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 32px;
}

main header .title {
  width: 67px;
  height: 36px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.533333px;
  color: var(--text);
}

main header .theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main header .theme__text {
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--text);
  margin-right: 21px;
  margin-bottom: 5px;
}

main header .theme__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 5px;
}

main header .theme__numbers span {
  font-size: 12px;
  font-weight: bold;
  color: var(--text);
  line-height: 13px;
}

main header .theme__switcher__dot {
  position: relative;
  background-color: var(--toggle-and-keypad-bg);
  width: 71px;
  height: 26px;
  border-radius: 13px;
}

main .display {
  background: var(--screen-bg);
  max-width: 540px;
  height: 128px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 38px 32px 36px 32px;
  margin-bottom: 24px;
}

main .display__calculation {
  font-size: 48px;
  line-height: 54px;
  letter-spacing: -0.08px;
  color: var(--text);
  overflow: hidden;
}

main .keyboard {
  background: var(--toggle-and-keypad-bg);
  padding: 32px 31px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (64px)[5];
  -ms-grid-columns: (101px)[4];
      grid-template: repeat(5, 64px)/repeat(4, 101px);
  grid-gap: 24px 25px;
      grid-template-areas: '__7 __8 __9 __del' '__4 __5 __6 __plus' '__1 __2 __3 __minus' '__dot __0 __divide __time' '__reset __reset __equal __equal';
}

main .keyboard__7 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: __7;
}

main .keyboard__8 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: __8;
}

main .keyboard__9 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: __9;
}

main .keyboard__del {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: __del;
}

main .keyboard__4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: __4;
}

main .keyboard__5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: __5;
}

main .keyboard__6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: __6;
}

main .keyboard__plus {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: __plus;
}

main .keyboard__1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: __1;
}

main .keyboard__2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: __2;
}

main .keyboard__3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: __3;
}

main .keyboard__minus {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: __minus;
}

main .keyboard__dot {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: __dot;
}

main .keyboard__0 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: __0;
}

main .keyboard__divide {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: __divide;
}

main .keyboard__time {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: __time;
}

main .keyboard__reset {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: __reset;
}

main .keyboard__equal {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: __equal;
}

main .keyboard__keypad {
  padding: 0;
  border-radius: 10px;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.533333px;
  color: var(--keypad-text);
  background: var(--keypad-bg);
  -webkit-box-shadow: inset 0px -4px 0px var(--keypad-bg-shadow);
          box-shadow: inset 0px -4px 0px var(--keypad-bg-shadow);
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

main .keyboard__keypad:hover {
  background: var(--keypad-hover-bg);
}

main .keyboard__del, main .keyboard__reset {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.333333px;
  color: #fff;
  background: var(--del-reset-keypad-bg);
  -webkit-box-shadow: inset 0px -4px 0px var(--del-reset-keypadbg-shadow);
          box-shadow: inset 0px -4px 0px var(--del-reset-keypadbg-shadow);
  text-transform: uppercase;
}

main .keyboard__del:hover, main .keyboard__reset:hover {
  background: var(--del-reset-keypad-hover-bg);
}

main .keyboard__equal {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.333333px;
  color: var(--equal);
  background: var(--keypad-and-toggle-bg);
  -webkit-box-shadow: inset 0px -4px 0px var(--equal-bg-shdow);
          box-shadow: inset 0px -4px 0px var(--equal-bg-shdow);
}

main .keyboard__equal:hover {
  background: var(--keypad-and-toggle-hover-bg);
  color: var(--equal);
}

footer {
  position: absolute;
  bottom: 10px;
}

@media (max-width: 560px) {
  main .display {
    height: 88px;
    padding: 26px 24px;
  }
  main .display__calculation {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.533333px;
  }
  main .keyboard {
    -ms-grid-rows: (64px)[5];
    -ms-grid-columns: (60px)[4];
        grid-template: repeat(5, 64px)/repeat(4, 60px);
    grid-gap: 13px;
        grid-template-areas: '__7 __8 __9 __del' '__4 __5 __6 __plus' '__1 __2 __3 __minus' '__dot __0 __divide __time' '__reset __reset __equal __equal';
    padding: 24px;
  }
  main .keyboard__keypad {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: -0.466667px;
  }
  main .keyboard__del, main .keyboard__reset, main .keyboard__equal {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.266667px;
  }
  footer {
    font-size: 10px;
    bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */